body {
    background-color: #f8f9fa;
    font-family: "Roboto", sans-serif;
}

.title {
    font-size: 50px;
    color: rgb(206, 29, 29);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.registerbutton {
    background-color: gray;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    left: 300px;
    top: 700px;
    position: absolute;
    transition-duration: 0.4s;
}

.loginbutton {
    background-color: green;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    left: 300px;
    top: 700px;
    position: absolute;
    transition-duration: 0.4s;
}