<!DOCTYPE html>
<html>
    <head>
        <title>Itemon</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/homepage.css') }}"
        />
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Welcome to Itemon!</h1>
                <p>An interactive game about random items</p>
            </div>

            {% if user %}
            <p>Logged in as: {{ user.username }}</p>
            <div>
                <a href="{{ url_for('logout') }}" class="button">Logout</a>
            </div>
            {% else %}
            <div>
                <a href="{{ url_for('login') }}" class="button">Login</a>
                <a href="{{ url_for('register') }}" class="button">Register</a>
            </div>
            {% endif %}

            <nav class="navbar">
                <a href="{{ url_for('my_items') }}">My Itémon</a> |
                <a href="{{ url_for('upload') }}">Upload Item</a> |
                <a href="{{ url_for('battle') }}">Battle</a> |
                <a href="{{ url_for('players') }}">All Players</a>
            </nav>

            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul>
                {% for message in messages %}
                <li class="alert">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}
        </div>
    </body>
</html>
