<!DOCTYPE html>
<html>
    <body>
        <head>
            <title>Itemon</title>
            <link rel="stylesheet" href="/templates/css/homepage.css" />
        </head>
        <div class="heading">
            <h1>Welcome to Itemon!</h1>

            <p>An interactive game about random items</p>
        </div>
        <div>
            <a
                href="register.html"
                class="registerbutton"
                style="width: 400px; height: 1200px"
                ><h3>register</h3></a
            >
        </div>
        <div>
            <a
                href="login.html"
                class="loginbutton"
                style="width: 400px; height: 1200px"
                ><h3>login</h3></a
            >
        </div>
    </body>
</html>
